body,
h1,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
small,
p {
  font-weight: 200;
}

/* Nav section */
.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-main ul {
  margin: 0;
  padding: 0;
}
.nav-main ul li {
  display: inline-block;
  color: #fff;
  list-style: none;
  margin-top: 20px;
}
.nav-main ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  transition: 0.3s;
}
.nav-main ul li .button {
  margin: 0;
}

.nav-main ul li a:hover {
  color: #e02c6d;
}

/* header section */
.header-main {
  background-color: #2d25a0;
  height: 690px;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-evenly;
}
.header-text h1 {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  margin-top: 140px;
}

.header-img img {
  width: 556px;
  margin-top: 90px;
}
.button {
  width: 168px;
  height: 44px;
  margin-top: 27px;
  background-color: #e02c6d;
  font-size: 16px;
  font-weight: 400;
  border: none;
  transition: 0.3s;
}
.button a {
  text-decoration: none;
  color: #fff;
}
.button:hover {
  background-color: #bb0749;
}

/* blog section */
.main {
  background: #f0f0f0;
}
.container {
  display: flex;
  justify-content: center;
}
.blog {
  width: 330px;
  background: #fff;
  padding: 10px;
  box-shadow: 10px 10px 10px lightgray;
}

.blog-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 27px 30px;
  margin-top: 70px;
}
.blog-img img {
  width: 330px;
}

/* highlight section */
.highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.highlight-text {
  width: 470px;
}
.highlight-text h1 {
  font-size: 48px;
  font-weight: 700;
}
.highlight-img img {
  width: 567px;
  height: 427px;
  margin-left: 66px;
}

/*.................
testimonial section 
...................*/
.testimonials-title {
  font-size: 45px;
  font-weight: 700;
  margin-top: 35px;
  text-align: center;
}

.testimonials {
  display: flex;
  justify-content: center;
}
.testimonial {
  width: 340px;
  margin: 25px 10px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 10px 10px 10px lightgray;
  border-radius: 5px;
}
.testimonial img {
  width: 340px;
  height: 300px;
}

/*.................
contact with player section
...................*/
.contact-text {
  text-align: center;
  margin-top: 35px;
}
.form-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  background-color: #e02c6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: 0.2s;
}
input[type="submit"]:hover {
  background-color: #bb0749;
}

/*.................
footer section 
...................*/
.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 430px;
  background-color: #fff;
}
.footer-img img {
  width: 483px;
  height: 110px;
}

/* footer font awesome section */
.footer-icon {
  margin: 20px;
}
.footer-icon ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-icon li {
  display: inline-block;
}
.footer-icon .fab {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  background: #f0f0f0;
  color: #969bab;
  position: relative;
  transition: 0.3s;
}
.footer-icon .fab:hover {
  color: #fff;
  background-color: #e02c6d;
}
.fab:before {
  position: absolute;
  top: 8px;
  right: 7px;
  text-align: center;
}
.fab.fa-linkedin:before {
  right: 9px;
}

/* .copyright section */
.copyright p {
  font-size: 18px;
}

/*........................................ 
responsive with media queries section
........................................ */

/* notebook */

@media only screen and (min-width: 990px) and (max-width: 1200px) {
  /* navbar responsive section */
  .nav-main {
    display: none;
  }
  /* header responsive section */
  .header-img img {
    width: 440px;
  }
  /* blog responsive section */
  .blog {
    width: 277px;
  }
  .blog-img img {
    width: 275px;
  }
  /* highlight responsive section */
  .highlight-img img {
    width: 434px;
    height: 100%;
    margin-left: 66px;
  }
  .highlight-text h1 {
    font-size: 41px;
  }
  /* testimonial responsive section */
  .testimonial {
    width: 259px;
  }
  .testimonial img {
    width: 257px;
    height: 250px;
  }
}

/*responsive tab */
@media only screen and (min-width: 762px) and (max-width: 990px) {
  /* navbar responsive section */
  .nav-main {
    display: none;
  }
  /* header responsive section */
  .header-main {
    height: 550px;
    width: 100%;
  }

  .header-text h1 {
    font-size: 38px;
    margin-top: 130px;
  }
  .header-img img {
    width: 450px;
    margin-top: 90px;
  }

  /* blog responsive section */
  .blog-items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 27px 30px;
    margin-top: 70px;
  }
  /* highlight responsive section */
  .highlight-img img {
    height: 100%;
  }

  /* testimonial responsive section */
  .testimonials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  input,
  textarea {
    width: 75%;
  }
  input[type="submit"] {
    width: 75%;
  }
  .highlight {
    margin-top: 120px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .highlight-text h1 {
    font-size: 38px;
  }
  .highlight-img img {
    width: 472px;
    margin-top: 30px;
    margin-left: 0;
  }
}

/* responsive mobile/semi-tab */

@media only screen and (min-width: 480px) and (max-width: 762px) {
  /* navbar responsive section */
  .nav-main {
    display: none;
  }
  /* header responsive section */
  .header {
    flex-wrap: wrap;
  }
  .header-main {
    height: 850px;
    width: 100%;
  }

  .header-text h1 {
    font-size: 40px;
    margin-top: 60px;
  }
  .header-img img {
    width: 485px;
    margin-top: 50px;
  }
  /* blog responsive section */
  .blog-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 27px 30px;
    margin-top: 70px;
  }

  /* highlight responsive section */
  .highlight {
    margin-top: 120px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .highlight-text h1 {
    font-size: 38px;
  }
  .highlight-img img {
    width: 472px;
    height: 100%;
    margin-top: 30px;
    margin-left: 0;
  }
  /* testimonial responsive section */
  .testimonials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  input,
  textarea {
    width: 75%;
  }
  input[type="submit"] {
    width: 75%;
  }
  /* footer responsive section */
  .footer-img img {
    width: 275px;
    height: 70px;
  }
}

/* responsive mobile-sm */

@media only screen and (max-width: 480px) {
  /* navbar responsive section */
  .nav-main {
    display: none;
  }
  /* header responsive section */
  .header {
    flex-wrap: wrap;
  }
  .header-main {
    height: 710px;
    width: 100%;
  }

  .header-text {
    width: 200px;
  }
  .header-text h1 {
    font-size: 40px;
    margin-top: 60px;
  }
  .header-img img {
    width: 250px;
    margin-top: 50px;
  }
  /* blog responsive section */
  .blog-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog {
    width: 260px;
  }
  .blog img {
    width: 260px;
  }
  /* highlight responsive section */
  .highlight {
    margin-top: 70px;
    flex-wrap: wrap;
  }

  .highlight-text {
    width: 260px;
  }
  .highlight-text h1 {
    font-size: 30px;
  }
  .highlight-img img {
    width: 260px;
    height: 100%;
    margin-top: 30px;
    margin-left: 0;
  }

  /* testimonial responsive section */
  .testimonials {
    flex-wrap: wrap;
  }
  .testimonials-main h1 {
    font-size: 30px;
  }
  .testimonial {
    width: 260px;
  }
  .testimonial img {
    width: 260px;
    height: 200px;
  }

  /* contact responsive section */
  input,
  textarea {
    width: 75%;
  }
  input[type="submit"] {
    width: 75%;
  }

  .form-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-main {
    height: 400px;
  }
  .footer-img img {
    width: 260px;
    height: 70px;
  }
}
